h1 {
  text-align: center;
  font-family: 'font';
  font-size: 32px;
}

h2 {
  text-align: center;
  font-family: 'calibri';
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8A1C7C;
  padding-left: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8%;
  z-index: 1000;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); /*shadow to create perspective*/
}

.spacer {
  height: 100px;
}

body {
  background-color: #d7ace4;
  cursor: url('../assets/html-utils/cursor_default.png'), auto;
  font-family: 'Squarely', sans-serif;
}

body:active {
  cursor: url('../assets/html-utils/cursor_pressed.png'), auto;
}

button:hover, .interactive:hover {
  cursor: url('../assets/html-utils/cursor_hover.png'), auto;
}

.links{
  text-align: center;
  display: flex;
  align-items: center;
  gap: 1.2rem; /* space between logos */
  padding-right: 3rem; /* paddign to separate the last from the border of the screen */
}

@font-face {
  font-family: 'font';
  src: url('../assets/html-utils/VT323Regular.ttf');
}

@font-face{
  font-family: 'oneup';
  src: url('../assets/html-utils/1up.ttf') format('truetype');
}

/* div initial dimensions when fullscreen is not active */
#game {
  width: 1024px;
  height: 560px;
  margin: 0 auto; /* div is centered horizontally */
  display: block;
  background-color: #000; /* bg color, in case it is shown */
  padding-bottom: 1rem;
}