h1 {
  text-align: center;
  font-family: 'font';
  font-size: 36px;
}

h2 {
  text-align: center;
  font-family: 'calibri';
}

body {
  background-color: #d7ace4;
  cursor: url('../assets/html-utils/cursor_default.png'), auto;
}

body:active {
  cursor: url('../assets/html-utils/cursor_pressed.png'), auto;
}

button:hover, .interactive:hover {
  cursor: url('../assets/html-utils/cursor_hover.png'), auto;
}

.links{
  text-align: center;
}

@font-face {
  font-family: 'font';
  src: url('../assets/html-utils/VT323Regular.ttf');
}

/* div initial dimensions when fullscreen is not active */
#game {
  width: 1024px;
  height: 576px;
  margin: 0 auto; /* div is centered horizontally */
  display: block;
  background-color: #000; /* bg color, in case it is shown */
}